#jing-nav-panel {
  width: 240px;
  height: 100%;
  background-color: #36cfc9;
  position: fixed;
  z-index: 3;

  .ant-menu-inline, .ant-menu-vertical, .ant-menu-vertical-left {
    border-right:0 !important;
  }
  #title {
    height: 50px;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  & > * {
    background-color: #36cfc9;
  }
}