#excel-helper-container {
  margin-left: 240px;
  display: flex;
  flex-direction: column;

  #excel-result-area {
    display: flex;
    justify-content: space-between;
  }

  .ant-radio-group.ant-radio-group-outline {
    display:flex;
    flex-direction: column;
  }
  
  #excel-email-area {
    min-width: 300px;
  }

}

#excel-top-container {
  display: flex;
  justify-content: space-between;
}

#excel-description-container {
  width: 300px;
  text-indent: 1.5rem;
}