.jing-project-container {
  margin-left: 240px;
  display: flex;
  flex-direction: column;
  align-items: center;

  .jing-project-header {
    width: 820px;
    height: 160px;
    display: flex;
    flex-direction: column;

    .jing-project-meta {
      width: 100%;
      height: 100%;
      display:flex;
      justify-content: space-between;
      align-items: center;

      .sub-title {
        color: rgba(0, 0, 0, 0.65);
      }
      
      .title {
        color: black;
        margin-bottom: 3rem;
      }
      
      .note {
        font-size: 0.8rem;
      }
    
      .product {
        width: 240px;
        height: 100%;
        background-color: #87e8de;
        padding: 1rem;
        overflow: hidden;
        text-overflow: ellipsis;
        transition: 0.3s;
        cursor: pointer;
        font-size: 1.1rem;
        font-style: italic;
      }
    
      .product:hover {
        background-color: #36cfc9;
      }
    }


  }

  .jing-project-media {
    margin-top: 2rem;
    border: 1px solid black;
    height: 500px;
    width: 820px;
    * {
      width: 100%;
      height: 100%;
      object-fit: fill;
    }
  }

  .jing-scroll-instruction {
    display: flex;
    flex-direction: column;
    padding: 1rem 0;
    font-size:16px;
    cursor: pointer;
    align-items: center;

    & > i {
      font-size:24px;
      opacity: 0.5;
      transition: 0.3s;
    }
    & > span {
      transition: 0.3s;
    }

  }
  .jing-scroll-instruction:hover {
    & > span {
      font-size: 17px;
    }
    & > i {
      opacity: 1;
    }
  }

  .jing-project-upper {
    position: fixed;
  }
  .jing-project-lower {
    margin-top: 800px;
    min-height: calc(100vh - 220px);
    width: 100%;
    padding: 20px 0;
    z-index: 1;
    position: relative;
    border-top: 1px solid #87e8de;
    background: white;


    .tabs {
      display:flex;
      justify-content: space-evenly;
      margin-bottom: 1rem;

      .tab {
        padding: 1rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        cursor: pointer;
        transition: 0.3s;
        
        img {
          width: 2rem;
        }
      }

      .tab:hover {
        background-color: #36cfc9;
      }
      .selected {
        background-color: #b5f5ec;
      }
    }

    .tab-content {
      width: 100%;
      height: 500px;

      section {
        line-height: 1.8rem;
        text-indent: 2rem;  
      }
    }
  }


  .srd-canvas {
    height: 100%;
    min-height: 300px;
    background-color: #3c3c3c !important;
    background-image: linear-gradient(0deg, transparent 24%, rgba(255, 255, 255, 0.05) 25%, rgba(255, 255, 255, 0.05) 26%, transparent 27%, transparent 74%, rgba(255, 255, 255, 0.05) 75%, rgba(255, 255, 255, 0.05) 76%, transparent 77%, transparent), linear-gradient(90deg, transparent 24%, rgba(255, 255, 255, 0.05) 25%, rgba(255, 255, 255, 0.05) 26%, transparent 27%, transparent 74%, rgba(255, 255, 255, 0.05) 75%, rgba(255, 255, 255, 0.05) 76%, transparent 77%, transparent);
    background-size: 50px 50px;
  }
  .srd-default-port {
    white-space: pre;
  }

}
