html {
  width: 100%;
  height: 100%;
  min-width: 1080px;
}
body {
  width: 100%;
  height: 100%;

  #root {
    width: 100%;
    height: 100%;

    & > div {
      width: 100%;
      height: 100%;
    }

    #app-container {
      display: flex;
      width:100%;
      height:100%;

      #app-content {
        width: 100%;
        height: 100%;
        padding: 2rem;
      }
    }
  }
}